<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <!-- here if we want to include a partials we have to use ejs tags(<%%>) and 
    use - sign to include a file here. 
    + is for adding variable(value)   -->
    <%- include('./partials/nav.ejs') %>

    <div class="blos content">
        <h2>All Blogs</h2>

        <!-- here we want to show the blogs array which has been passed into here from app.js file
        now we want to check 
        if the length of the array is greater than 0 
        meaning does the array has any object or value or is it empty.  -->
        <% if (blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>
                <a class="single" href="/blogs/<%=blog.id%>">
                    <h3 class="title"><%= blog.title%></h3>
                    <p class="snippet"><%= blog.snippet%></p>
                </a>
            <%}) %>
        <% } else { %>
            <p>There are no Blogs to display.</p>
        <% } %>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>